In [144]:
import pandas as pd
import numpy as np

In [149]:
import pandas as pd
# load data
df = pd.read_csv("att_df.csv",index_col=0)
business = pd.read_csv('bars_business.csv')
# drop NaN
df = df.dropna(axis=0, how='any')
df = df.reset_index(drop=True)

In [150]:
# solve 'u' and transfer string 
for i in range(df.shape[0]):
  if df.NoiseLevel[i][0] == 'u':
    df.NoiseLevel[i] = df.NoiseLevel[i][1:]
  if df.WiFi[i][0] == 'u':
    df.WiFi[i] = df.WiFi[i][1:]
  if df.Alcohol[i][0] == 'u':
    df.Alcohol[i] = df.Alcohol[i][1:]
  df.BusinessParking[i] = eval(df.BusinessParking[i])
  df.Music[i] = eval(df.Music[i])
  df.Ambience[i] =eval(df.Ambience[i])
  # df.BikeParking[i] = eval(df.BikeParking[i])
  # df.BusinessAcceptsCreditCards[i] = eval(df.BusinessAcceptsCreditCards[i])
  df.RestaurantsReservations[i] = eval(df.RestaurantsReservations[i])
  df.RestaurantsTakeOut[i] = eval(df.RestaurantsTakeOut[i])
  df.RestaurantsDelivery[i] = eval(df.RestaurantsDelivery[i])
  # df.HasTV[i] = eval(df.HasTV[i])
  # df.RestaurantsPriceRange2[i] = eval(df.RestaurantsPriceRange2[i])
  # df.RestaurantsGoodForGroups[i] = eval(df.RestaurantsGoodForGroups[i])
  df.OutdoorSeating[i] = eval(df.OutdoorSeating[i])
  # df.HappyHour[i] = eval(df.HappyHour[i])
  df.NoiseLevel[i] = eval(df.NoiseLevel[i])
  df.WiFi[i] = eval(df.WiFi[i])
  df.Alcohol[i] = eval(df.Alcohol[i])
## drop NaN
#df = df.dropna(axis=0, how='any')
#df = df.reset_index(drop=True)

<ipython-input-150-bea000c08d37>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NoiseLevel[i] = df.NoiseLevel[i][1:]
<ipython-input-150-bea000c08d37>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.WiFi[i] = df.WiFi[i][1:]
<ipython-input-150-bea000c08d37>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Alcohol[i] = df.Alcohol[i][1:]
<ipython-input-150-bea000c08d37>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.BusinessParking[i] = eval(df.BusinessParking[i])
<ipython-input-150-bea000c08d37>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Music[i] = eval(df.Music[i])
<ipython-input-150-bea000c08d37>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Ambience[i] =eval(df.Ambience[i])
<ipython-input-150-bea000c08d37>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.RestaurantsReservations[i] = eval(df.RestaurantsReservations[i])
<ipython-input-150-bea000c08d37>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.RestaurantsTakeOut[i] = eval(df.RestaurantsTakeOut[i])
<ipython-input-150-bea000c08d37>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.RestaurantsDelivery[i] = eval(df.RestaurantsDelivery[i])
<ipython-input-150-bea000c08d37>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.OutdoorSeating[i] = eval(df.OutdoorSeating[i])
<ipython-input-150-bea000c08d37>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NoiseLevel[i] = eval(df.NoiseLevel[i])
<ipython-input-150-bea000c08d37>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.WiFi[i] = eval(df.WiFi[i])
<ipython-input-150-bea000c08d37>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Alcohol[i] = eval(df.Alcohol[i])

In [130]:
df.head()

,NoiseLevel,BikeParking,BusinessAcceptsCreditCards,BusinessParking,RestaurantsReservations,RestaurantsTakeOut,WiFi,RestaurantsDelivery,HasTV,RestaurantsPriceRange2,Alcohol,Music,RestaurantsGoodForGroups,OutdoorSeating,HappyHour,Ambience
0,average,False,True,"{'garage': True, 'street': False, 'validated':...",False,True,free,False,True,2.0,full_bar,"{'dj': False, 'background_music': False, 'no_m...",False,False,False,"{'touristy': None, 'hipster': False, 'romantic..."
1,average,False,True,"{'garage': False, 'street': False, 'validated'...",True,True,free,True,True,2.0,full_bar,"{'dj': False, 'background_music': False, 'no_m...",True,None,True,"{'touristy': False, 'hipster': False, 'romanti..."
2,average,True,NaN,"{'garage': False, 'street': False, 'validated'...",True,True,free,True,True,2.0,full_bar,"{'dj': False, 'background_music': False, 'no_m...",True,True,True,"{'touristy': False, 'hipster': False, 'romanti..."
3,'average',True,True,"{'garage': False, 'street': True, 'validated':...",True,NaN,'no',NaN,False,2.0,'full_bar',"{'dj': False, 'background_music': False, 'no_m...",True,False,False,"{'touristy': False, 'hipster': False, 'romanti..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN

In [131]:
# BusinessParking df
df_bp = pd.DataFrame(df.BusinessParking)

In [113]:
# insert new cols in df_bp
df_bp.insert(df_bp.shape[1], 'garage', None)
df_bp.insert(df_bp.shape[1], 'street', None)
df_bp.insert(df_bp.shape[1], 'valet', None)
df_bp.insert(df_bp.shape[1], 'validated', None)
df_bp.insert(df_bp.shape[1], 'lot', None)

In [114]:
# give values
for i in range(df_bp.shape[0]):
  if(df_bp.BusinessParking[i] and 'garage' in df_bp.BusinessParking[i].keys()):
    df_bp.garage[i] = df_bp.BusinessParking[i]['garage']
  if(df_bp.BusinessParking[i] and 'street' in df_bp.BusinessParking[i].keys()):
    df_bp.street[i] = df_bp.BusinessParking[i]['street']
  if(df_bp.BusinessParking[i] and 'valet' in df_bp.BusinessParking[i].keys()):
    df_bp.valet[i] = df_bp.BusinessParking[i]['valet']
  if(df_bp.BusinessParking[i] and 'validated' in df_bp.BusinessParking[i].keys()):
    df_bp.validated[i] = df_bp.BusinessParking[i]['validated']
  if(df_bp.BusinessParking[i] and 'lot' in df_bp.BusinessParking[i].keys()):
    df_bp.lot[i] = df_bp.BusinessParking[i]['lot']
df_bp = df_bp.drop("BusinessParking", axis=1)

In [115]:
df_bp.head()

  garage street  valet validated    lot
0   True  False  False     False  False
1  False   True  False     False   True
2  False   True  False     False  False
3  False   True  False     False  False
4   True   True  False      True  False

In [116]:
# Music df
df_m = pd.DataFrame(df.Music)

In [117]:
# insert new cols in df_m
df_m.insert(df_m.shape[1], 'dj', None)
df_m.insert(df_m.shape[1], 'background_music', None)
df_m.insert(df_m.shape[1], 'no_music', None)
df_m.insert(df_m.shape[1], 'jukebox', None)
df_m.insert(df_m.shape[1], 'live', None)
df_m.insert(df_m.shape[1], 'video', None)
df_m.insert(df_m.shape[1], 'karaoke', None)

In [118]:
# give values
for i in range(df_m.shape[0]):
  if(df_m.Music[i] and 'dj' in df_m.Music[i].keys()):
    df_m.dj[i] = df_m.Music[i]['dj']
  if(df_m.Music[i] and 'background_music' in df_m.Music[i].keys()):
    df_m.background_music[i] = df_m.Music[i]['background_music']
  if(df_m.Music[i] and 'no_music' in df_m.Music[i].keys()):
    df_m.no_music[i] = df_m.Music[i]['no_music']
  if(df_m.Music[i] and 'jukebox' in df_m.Music[i].keys()):
    df_m.jukebox[i] = df_m.Music[i]['jukebox']
  if(df_m.Music[i] and 'live' in df_m.Music[i].keys()):
    df_m.live[i] = df_m.Music[i]['live']
  if(df_m.Music[i] and 'video' in df_m.Music[i].keys()):
    df_m.video[i] = df_m.Music[i]['video']
  if(df_m.Music[i] and 'karaoke' in df_m.Music[i].keys()):
    df_m.karaoke[i] = df_m.Music[i]['karaoke']
df_m = df_m.drop("Music", axis=1)

In [119]:
df_m.head()

      dj background_music no_music jukebox   live  video karaoke
0  False            False    False   False  False  False   False
1  False             True    False   False  False  False   False
2  False            False    False   False  False  False   False
3  False            False    False   False  False  False   False
4  False            False    False   False  False  False   False

In [120]:
# Ambience df
df_a = pd.DataFrame(df.Ambience)

In [121]:
# insert new cols in df_m
df_a.insert(df_a.shape[1], 'touristy', None)
df_a.insert(df_a.shape[1], 'hipster', None)
df_a.insert(df_a.shape[1], 'romantic', None)
df_a.insert(df_a.shape[1], 'divey', None)
df_a.insert(df_a.shape[1], 'intimate', None)
df_a.insert(df_a.shape[1], 'trendy', None)
df_a.insert(df_a.shape[1], 'upscale', None)
df_a.insert(df_a.shape[1], 'classy', None)
df_a.insert(df_a.shape[1], 'casual', None)

In [122]:
# give values
for i in range(df_a.shape[0]):
  if(df_a.Ambience[i] and 'touristy' in df_a.Ambience[i].keys()):
    df_a.touristy[i] = df_a.Ambience[i]['touristy']
  if(df_a.Ambience[i] and 'hipster' in df_a.Ambience[i].keys()):
    df_a.hipster[i] = df_a.Ambience[i]['hipster']
  if(df_a.Ambience[i] and 'romantic' in df_a.Ambience[i].keys()):
    df_a.romantic[i] = df_a.Ambience[i]['romantic']
  if(df_a.Ambience[i] and 'divey' in df_a.Ambience[i].keys()):
    df_a.divey[i] = df_a.Ambience[i]['divey']
  if(df_a.Ambience[i] and 'intimate' in df_a.Ambience[i].keys()):
    df_a.intimate[i] = df_a.Ambience[i]['intimate'] 
  if(df_a.Ambience[i] and 'trendy' in df_a.Ambience[i].keys()):
    df_a.trendy[i] = df_a.Ambience[i]['trendy']
  if(df_a.Ambience[i] and 'upscale' in df_a.Ambience[i].keys()):
    df_a.upscale[i] = df_a.Ambience[i]['upscale']
  if(df_a.Ambience[i] and 'classy' in df_a.Ambience[i].keys()):
    df_a.classy[i] = df_a.Ambience[i]['classy']
  if(df_a.Ambience[i] and 'casual' in df_a.Ambience[i].keys()):
    df_a.casual[i] = df_a.Ambience[i]['casual']
df_a = df_a.drop("Ambience", axis=1)

In [123]:
df_a.head()

  touristy hipster romantic  divey intimate trendy upscale classy casual
0     None   False    False  False    False  False   False   True   True
1    False   False    False   None    False   True   False   None   True
2    False   False    False  False    False  False   False   True  False
3     None    True    False  False     None   True    None   True   True
4    False   False    False  False    False  False   False   True   True

In [126]:
df.to_csv("att1.csv", index = False)
df_bp.to_csv("att_bp.csv", index = False)
df_m.to_csv("att_m.csv", index = False)
df_a.to_csv("att_a.csv", index = False)